BOT_MODE=BAILEYS
PORT=3000
HEALTH_HOST=127.0.0.1
HEALTH_PORT=3100

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_TIMEOUT_MS=15000

APPS_SCRIPT_WEBHOOK_URL=
APPS_SCRIPT_TIMEOUT_MS=15000
APPS_SCRIPT_INTERNAL_API_KEY=

BOT_NUMBER=6285196278727
WA_SESSION_DIR=./runtime/baileys-session
ALLOW_GROUP_MESSAGES=false

ADMIN_WHITELIST=6285655002277,201507007785,6282228597780,6289521503899,6285974035215

DAILY_REMINDER_TZ=Asia/Jakarta
DAILY_REMINDER_TIME=23:00
DAILY_REMINDER_TARGETS=6289521503899,6282228597780

RUNTIME_REMINDER_FILE=./runtime/reminders.json
