PORT=3000

# Fokus utama: bot sendiri
# BAILEYS = bot WA sendiri (scan QR)
# WEBHOOK = opsional jika mau pakai Fonnte
BOT_MODE=BAILEYS

# Wajib: endpoint Web App Apps Script
APPS_SCRIPT_WEBHOOK_URL=
APPS_SCRIPT_TIMEOUT_MS=15000

# Keamanan WA (WAJIB isi)
# Hanya nomor admin ini yang boleh memproses data, pisahkan koma
# Contoh: ADMIN_NUMBERS=628123456789,628777777777
ADMIN_NUMBERS=
# Nomor bot WA (tanpa +)
BOT_NUMBER=

# Untuk mode BAILEYS
WA_SESSION_DIR=./auth_info_baileys
ALLOW_GROUP_MESSAGES=false
ALLOW_SELF_CHAT_MESSAGES=true
DEBUG_WA_FILTER=false

# Untuk mode WEBHOOK (opsional)
FONNTE_TOKEN=
